workspace/flows.json
[{"id":"96b950b4fd619465","type":"tab","label":"Example","disabled":false,"info":"","env":[]},{"id":"39483d11dfaf9ccb","type":"tab","label":"Treatment","disabled":false,"info":"","env":[]},{"id":"9cb589a869790d68","type":"tab","label":"LLM","disabled":false,"info":"","env":[]},{"id":"fe38d4392a5ba26e","type":"group","z":"96b950b4fd619465","name":"API","style":{"label":true},"nodes":["158c4345e56942f2","80db08f25c3773c5","71a8b45db886d63d","3284ccd5ef08a2b6","4db6945af14a90c5"],"x":34,"y":39,"w":492,"h":122},{"id":"158c4345e56942f2","type":"http in","z":"96b950b4fd619465","g":"fe38d4392a5ba26e","name":"","url":"/ping","method":"get","upload":false,"swaggerDoc":"","x":130,"y":80,"wires":[["71a8b45db886d63d"]]},{"id":"80db08f25c3773c5","type":"http response","z":"96b950b4fd619465","g":"fe38d4392a5ba26e","name":"","statusCode":"","headers":{},"x":450,"y":100,"wires":[]},{"id":"71a8b45db886d63d","type":"template","z":"96b950b4fd619465","g":"fe38d4392a5ba26e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\n    \"data\": \"pong\"\n}","output":"json","x":300,"y":80,"wires":[["80db08f25c3773c5"]]},{"id":"3284ccd5ef08a2b6","type":"http in","z":"96b950b4fd619465","g":"fe38d4392a5ba26e","name":"","url":"/pong","method":"get","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["4db6945af14a90c5"]]},{"id":"4db6945af14a90c5","type":"template","z":"96b950b4fd619465","g":"fe38d4392a5ba26e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\n    \"data\": \"ping\"\n}","output":"json","x":300,"y":120,"wires":[["80db08f25c3773c5"]]},{"id":"39672cb21837846a","type":"inject","z":"39483d11dfaf9ccb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":40,"wires":[["bff12da2b1fe7324"]]},{"id":"bff12da2b1fe7324","type":"http request","z":"39483d11dfaf9ccb","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:1880/assets/users.json","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":270,"y":100,"wires":[["13083275a27932e3"]]},{"id":"5bef19e7c4a3cc9e","type":"debug","z":"39483d11dfaf9ccb","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.firstname","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":220,"wires":[]},{"id":"13083275a27932e3","type":"json","z":"39483d11dfaf9ccb","name":"","property":"payload","action":"","pretty":false,"x":430,"y":100,"wires":[["3d99a584f6ceba0e"]]},{"id":"3d99a584f6ceba0e","type":"change","z":"39483d11dfaf9ccb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":160,"wires":[["0ea352638e7fae18"]]},{"id":"0ea352638e7fae18","type":"split","z":"39483d11dfaf9ccb","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":430,"y":160,"wires":[["5bef19e7c4a3cc9e"]]},{"id":"2ffd6d24bfc811df","type":"http request","z":"9cb589a869790d68","name":"Request ChatGPT","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.openai.com/v1/chat/completions","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"bearer","senderr":false,"headers":[{"keyType":"other","keyValue":"accept","valueType":"other","valueValue":"*/*"},{"keyType":"other","keyValue":"content-type","valueType":"other","valueValue":"application/json"}],"x":750,"y":160,"wires":[["9719405417743e16"]]},{"id":"728428531b8292b9","type":"function","z":"9cb589a869790d68","name":"Chat Format","func":"/* Auto Format 'msg.payload' */\nlet messages;\nif(Array.isArray(msg.payload)) {\n    messages = msg.payload;\n} else if(typeof msg.payload === 'string') {\n    messages = [\n        {\n            role: 'user',\n            content: msg.payload\n        }\n    ]\n} else {\n    console.error('No Prompt');\n    return;\n}\n\n/* POST Request */\nmsg.payload = {\n    ...(msg.llm_parameters||{}),\n    messages\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":160,"wires":[["2ffd6d24bfc811df"]]},{"id":"4da1028bad07497e","type":"function","z":"9cb589a869790d68","name":"LLM Parameters","func":"msg.llm_parameters = {\n    model: 'gpt-4o',\n    temperature: 0.7,\n    top_p: 0.9,\n    max_tokens: 200\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":160,"wires":[["7902d9efbf81f8cc"]]},{"id":"52c894990c0a76d7","type":"inject","z":"9cb589a869790d68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LLM","payload":"Hello! What is Node.RED?","payloadType":"str","x":170,"y":40,"wires":[["4da1028bad07497e"]]},{"id":"6fdf7974e7dca3ec","type":"inject","z":"9cb589a869790d68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LLM","payload":"Hey! Who is Alan Turing?","payloadType":"str","x":160,"y":80,"wires":[["4da1028bad07497e"]]},{"id":"9719405417743e16","type":"debug","z":"9cb589a869790d68","name":"Show the answer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.choices[0].message.content","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":160,"wires":[]},{"id":"7902d9efbf81f8cc","type":"switch","z":"9cb589a869790d68","name":"Select model","property":"llm_parameters.model","propertyType":"msg","rules":[{"t":"eq","v":"gpt-4o","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":160,"wires":[["728428531b8292b9"]]}]